In [187]:
import pandas as pd

In [188]:
data = pd.read_csv('ratings.csv')
data[data['rating'] == 5.0]['movieId'].value_counts().head(1)

318    39553
Name: movieId, dtype: int64

In [186]:
df = pd.read_csv('power.csv')
sum_ = 0 
df_2 = df[(df['year'] >= 2005) & (df['year'] <= 2010) & (df['quantity'] > 0)]
df_3 = df_2[df_2.category.isin([4, 12, 21])]
sum_ = df_3[df_3.country.str.contains('|'.join(['Lat','Lit','Est']))]['quantity'].sum()
print(f'суммарное потребление: {sum_}')

суммарное потребление: 240580.0

In [174]:
data = pd.read_html('https://fortrader.org/quotes')[5]
data.head(10)

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Индекс МосБиржи Индекс МосБиржи (IMOEX),349 350,-625.00,-0.00,NaN
1,Индекс РТС Индекс РТС (RTSI),1 484.60,-9.98,-0.67,NaN
2,Dow Jones Индекс Dow Jones,31 522.80,0.00,0.00,NaN
3,S&P 500 Индекс S&P 500,3 922,1.00,0.00,NaN
4,Nasdaq 100 Индекс Nasdaq 100,13 773.80,0.00,0.00,NaN
5,Euro Stoxx 50 Индекс Euro Stoxx 50 (STOXX50E),3 715.3,3.30,0.10,NaN
6,FTSE 100 Индекс FTSE,6 735.82,-13.04,-0.19,NaN
7,Nikkei 225 Индекс Nikkei 225 (N225),30 372,40.00,0.00,NaN
8,Russell 2000 Индекс Russell 2000,2 147.46,0.00,0.00,NaN
9,DAX30 Индекс DAX30,13 935.1,-64.20,-0.50,NaN